.no-data {
    text-align: center;
}
.deleteBtn {
    border-radius: 20px;
}
.payBtn {
    border-radius: 20px;
}
.apiBtn {
    margin-left: 16px;
}
.fa-trash {
    font-size: 14px !important;
}
#deleteForm {
    display: none;
}
#loadingBtn, #loadingBtn1 {
    display: none;
}
#randForm {
    display: none;
}
.hide {
    display: none;
}
.right-spinner {
    position: absolute;
    right: 20px;
    top: 5px;
}
.d-contests {
    display: contents;
}
.api-btn {
    display: flex;
    justify-content: start;
    height: 68px!important;
}
.word-break-all {
    word-break: break-all;
}